
h1{
    /* color: var(--color-titulo); */
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 5vw;
    /* text-align: center; */
}

.fullstack{
    text-align: center;
}
.fullstack h3{
    margin-top: -25px;
    margin-bottom: 30px;
}
.cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
   /*  border: 1px solid red; */
    background-color: #017e9d34;
    border-radius: 25px;
    box-shadow: 3px 3px 5px #9cfbff;
    padding: 20px;
}

.cursos img{
    width: 17vw;
}

.cursos h2{
    font-size: var(--tamaño-fuente-subtitulo-h2);
    color: var(--color-sub-titulo);
    text-align: center;
}
h3{
    font-size: var(--tamaño-fuente-subtitulo-h3);
}

h4{
    font-size: var(--tamaño-fuente-general)
}

