/* ESTABLECEMOS LA ESTRUCTURA DEL CONTENEDOR GENERAL */
.grid-contenedor-js{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:    "nav header"
                            "nav contenido"
                            "nav footer";

    color: var(--color-general);
    text-align: justify;
}
.titulo{
    font-size: var(--tamaño-fuente-titulo);
    padding: 20px;
    color: #f9e74b;
}
.contenido h3{
    font-size: var(--tamaño-fuente-subtitulo-h3);
    padding: 20px;
}
.parrafo-contenido{
    font-size: var(--tamaño-fuente-general);
    padding: 20px
}
.parrafo-contenido span{
    color: red;
}
.contenedor-codigo div{
    text-align: center;
}
.contenedor-codigo div img{
    width: 100%;
    border-radius: 0px 40px 40px 0px;
}

  /* RESPONSIVE */
/* DECLARAMOS VARIABLES */

/* Dispositivos extra pequeños (teléfonos, 600px y abajo) */

/* Colocamos esta media en este fichero porqué tenemos que indicar el 100% para .grid-contenedor-js */
@media screen and (max-width: 700px) {
    .grid-contenedor-js{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:    "header"
                                "nav"
                                "contenido"
                                "footer";
    }
}